<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<div class="setupPage">
  <div class="setupBox">
    <div class="setupBoxTop">
      <input class="playerInput" [(ngModel)]="playerEntered">
      <button class="addPlayer" (click)="addPlayer()">Add Player</button>
    </div>
    <div class="setupBoxBottom">
      <button class="createCard hidden" id="createCardBtn" routerLink="/card">Create Card</button>
      <div class="playerList" id="playerList" *ngFor="let player of playerList">
        <div class="playerListItem" id={{player.name}}>
          <div class="trashBtn fas fa-trash-alt" id="trashIcon" (click)="removePlayer(player.name)"></div>
          <div class="name">
            {{player.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

