.setupPage {
  display: flex;
  justify-content: center;
}

.setupPage .setupBox {
  margin-top: 200px;
  padding: 50px;
  background-color: lightgray;
}

.setupPage .setupBox .setupBoxTop #courseSelectionSection {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.setupPage .setupBox .setupBoxTop .playerInputSection {
  display: flex;
}

.setupPage .setupBox .setupBoxBottom {
  margin: 0 auto;
}

.setupPage .setupBox .setupBoxBottom .createCard {
  margin-left: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.setupPage .setupBox .setupBoxBottom .playerList {
  height: 100%;
  width: 200px;
}

.setupPage .setupBox .setupBoxBottom .playerList .playerListItem {
  display: flex;
  height: 20px;
  align-items: center;
}

.setupPage .setupBox .setupBoxBottom .playerList .playerListItem .trashBtn{
  height: 20px;
  margin-right: 20px;
}

.hidden {
  display: none;
}
